<!DOCTYPE html>
<html lang="uk">
<head>
    <title>Вхід</title>
</head>
<body>
    <h1>Вхід у Систему</h1>
    {% if message %}
        <p style="color:red;">{{ message }}</p>
    {% endif %}
    
    <form method="POST">
        <label for="username">Логін:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        {% if ask_2fa %}
            <label for="otp_code">2FA TOTP-код:</label><br>
            <input type="text" id="otp_code" name="otp_code"><br><br>
        {% endif %}

        <input type="submit" value="Увійти">
    </form>
    
    <hr>
    <h2>Вхід через Сторонні Сервіси (OAuth)</h2>
    <p>
        <a href="{{ url_for('login_google') }}"> 
            <button type="button">Увійти через Google 🔑</button>
        </a>
    </p>

    <p>Немає акаунту? <a href="/register">Зареєструватися</a></p>
    <p><a href="/recover">Забули пароль?</a></p>
</body>
</html>
